button[type=submit] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin: 0 0 40px 0;
  }

  button[type=submit]:hover {
    background: #0678e3;
  }


  button {
    color: #45505b;
    border: 0;
    padding: 12px 12px;
    margin-right: 5px;
    border-radius: 50px;
    background: #f2f3f5;
  }
  button:hover {
    color: #fff;
    background: #0563bb;
  }
  