  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#inicio" class="nav-link active"><i class="bi bi-house"></i> <span>Inicio</span></a></li>
        <li><a href="#info" class="nav-link"><i class="bi bi-person"></i> <span>Información</span></a></li>
        <li><a href="#resume" class="nav-link"><i class="bi bi-boxes"></i> <span>Experiencia</span></a></li>
        <li><a href="#skills" class="nav-link"><i class="bi bi-puzzle"></i> <span>Habilidades</span></a></li>
        <li><a href="#portfolio" class="nav-link"><i class="bi bi-folder"></i> <span>Portfolio</span></a></li>
        <li><a href="#contact" class="nav-link"><i class="bi bi-chat-left-text"></i> <span>Contacto</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </header><!-- End Header -->
