<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Experiencia</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Formación académica</h3>
          <div class="resume-item">
            <h4>Universidad Nacional de Rosario</h4>
            <h5>2019 - Presente</h5>
            <p>Estudiante avanzado de ingeniería electrónica, con un 70% de la carrera completada y 8.00 de promedio.</p>
            <ul>
              <li>Rosario, Santa Fe</li>
              <li><a href="https://web.fceia.unr.edu.ar/es/" target="_blank">Sitio Web</a></li>
            </ul>
          </div>


          <div class="resume-item">
            <h4>Instituto San Pablo</h4>
            <h5>2012 - 2018</h5>
            <p>Egresado como técnico electrónico.</p>
            <ul>
              <li>Villa Constitución, Santa Fe</li>
              <li><a href="https://escuela2073sanpablo.blogspot.com/" target="_blank">Sitio Web</a></li>
            </ul>
          </div>
          <h3 class="resume-title">Cursos</h3>
          <div class="resume-item">

            <h4>Instituto ICR</h4>
            <h5>2018</h5>
            <p><b>Diseño Gráfico </b></p>
            <p>Curso presencial de un año. Enfocado en Illustrator, Photoshop, Corel Draw e InDesign.</p>
            <ul>
              <li>Rosario, Santa Fe</li>
              <li><a href="https://www.institutoicr.com.ar/" target="_blank">Sitio Web</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <button type="submit" routerLink="/nuevaexp" *ngIf="isLogged">Agregar experiencia</button>
          <h3 class="resume-title">Experiencia laboral</h3>

          <div class="resume-item">
            <h4>MIXER Alarmas</h4>
            <h5>2018 - Presente</h5>
            <p>Diseñador, instalador y programador de sistemas de cámaras y alarmas. Programador de redes para acceso remoto a los sistemas.</p>
            <ul>
              <li>Arroyo Seco, Santa Fe</li>
              <li><a href="https://www.mixeralarmas.ml/" target="_blank">Sitio Web</a></li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>PARTICULAR</h4>
            <h5>2018 - Presente</h5>
            <p><b>Electricista</b></p>
            <p>Instalaciónes eléctricas domiciliarias. Soluciones lógicas y tableros eléctricos.</p>
            <ul>
              <li>Arroyo Seco, Santa Fe</li>
            </ul>
          </div>
          <div class="resume-item" *ngFor="let Experiencia of expe">
            <h4>{{Experiencia.nombreE}}</h4>
            <h5>{{Experiencia.periodoE}}</h5>
            <p><b>{{Experiencia.puestoE}}</b></p>
            <p>{{Experiencia.descripcionE}}</p>
            <ul>
              <li>{{Experiencia.ubicacionE}}</li>
              <li *ngIf="Experiencia.webE"><a href="http://{{Experiencia.webE}}" target="_blank">Sitio Web</a></li>
            </ul>
            <div *ngIf="isLogged">
              <button routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pen-fill"></i></button>
              
              <button (click)="delete(Experiencia.id)"><i class="bi bi-trash3-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </section>
