button[type=submit] {
    background: #0563bb;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin: 0 0 40px 0;
  }

  button[type=submit]:hover {
    background: #0678e3;
  }