<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto</h2>
      </div>

      <div class="container">

          <div class="info">
            <div class="address">
              <h4>Ubicación</h4>
              <p>{{persona?.domicilio}}, {{persona?.nacionalidad}}</p>
            </div>

            <div class="email">
              <h4>Email</h4>
              <p>{{persona?.email}}</p>
            </div>

            <div class="phone">
              <h4>Teléfono</h4>
              <p>{{persona?.telefono}}</p>
            </div>
          </div>
    </div>

