<section  id="login" class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="margin-top: 60px;">

          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <!-- User input -->
            <div class="form-outline mb-4">
              <input type="email" 
                     id="nombreUsuario" 
                     name="nombreUsuario" 
                     class="form-control form-control-lg"
                     [(ngModel)]="nombreUsuario"
                     [ngModelOptions]="{standalone: true}"
                     placeholder="Ingresar usuario" 
                     required
              />
                
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" 
                     id="password" 
                     class="form-control form-control-lg"
                     [(ngModel)]="password" 
                     [ngModelOptions]="{standalone: true}"
                     placeholder="Ingresar contraseña" 
                     required 
              />
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">Recordarme</label>
              </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit">Log In</button>
            </div>
            <a href="/" style="text-align: right;">Volver</a>
  
          </form>
        </div>
      </div>
    </div>
  </section>