  <!-- ======= Inicio Section ======= -->
  <section id="inicio" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>{{persona.nombre | uppercase}} {{persona.apellido | uppercase}}</h1>
          <p>Desarrollador web</p>
          <div class="social-links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-discord"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
          </div>
        </div>
        <div class="col-4">
          <div class="area">
            <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div >
        </div>
      </div>
    </div> 
  </section><!-- End inicio -->