<div  id="edit" *ngIf="persona">
    <div class="container-fluid">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class=" d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <h2>Información personal</h2>
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                <label for="img">Foto</label>
                <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg,.jpeg,.png">
                <div class="imagen" style="margin-top: 15px;">
                    <img [src]="imageService.url" width="100px" style=" border-radius: 30px;">
                </div>
                <label for="edad">Edad</label>
                <input type="number" class="form-control" id="edad" name="edad" [(ngModel)]="persona.edad" required>
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" [(ngModel)]="persona.nacionalidad" required>
                
                
            </div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="margin-top: 0.5%;">
                    <label for="estadoCivil">Estado Civil</label>
                    <input type="text" class="form-control" id="estadoCivil" name="estadoCivil" [(ngModel)]="persona.estadoCivil" required>
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="persona.titulo">
                    <label for="domicilio">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" name="domicilio" [(ngModel)]="persona.domicilio" required>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="persona.email" required>
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="persona.telefono" required>
                    <label for="facebook">Facebook</label>
                    <input type="text" class="form-control" id="facebook" name="facebook" [(ngModel)]="persona.facebook">
                    <label for="instagram">Instagram</label>
                    <input type="text" class="form-control" id="instagram" name="instagram" [(ngModel)]="persona.instagram">
                    <label for="discord">Discord</label>
                    <input type="text" class="form-control" id="discord" name="discord" [(ngModel)]="persona.discord">
                    <label for="github">Github</label>
                    <input type="text" class="form-control" id="github" name="github" [(ngModel)]="persona.github">
                    <div class="text-center text-lg-start mt-4">
                        <button type="submit">Editar</button>
                        <a href="/#info" style="text-align: right; margin-left: 65%;">Volver</a>
                    </div>
            </div>
        </div>
      </form>
    </div>
</div>